body {
    height: 100vh;
    background-color: aliceblue;
    margin: 0;
}

.container {
    height: 100%;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-rows: 0.1fr 1fr;
    /* justify-content: end; */
}

.header {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1 1fr; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeeee;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    padding-right: 20px;
    padding-left: 20px;
}

.header > button {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 21px;
    width: 120px;
    
}

.new-books {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    
}